<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" /-->

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass">
			<value>org.postgresql.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:postgresql://127.0.0.1:5432/hhxu</value>
		</property>
		<property name="user">
			<value>hhxu</value>
		</property>
		<property name="password">
			<value>123456</value>
		</property>
		<property name="maxPoolSize">
			<value>30</value>
		</property>
		<property name="minPoolSize">
			<value>5</value>
		</property>
		<property name="initialPoolSize">
			<value>10</value>
		</property>
		<property name="maxIdleTime">
			<value>20</value>
		</property>
	</bean>

	<bean id="eclipseLinkEntityManagerWrapperFactory" class="com.xinitren.jpa.impl.EclipseLinkEntityManagerWrapperFactoryImpl">
		<property name="persistUnitName" value="QQLikeServer" />
		<property name="useCreateContainerEntityManagerFactory" value="true" />
		<property name="mergeManagedClassNames" value="true" />
		<property name="connMap">
			<map>
				<entry key="eclipselink.target-database" value="org.eclipse.persistence.platform.database.PostgreSQLPlatform" />
				<entry key="eclipselink.ddl-generation" value="create-or-extend-tables" />
				<!--entry key="eclipselink.ddl-generation" value="none" /-->
				<entry key="eclipselink.ddl-generation.output-mode" value="database" />
				<entry key="eclipselink.cache.shared.default" value="false" />
				<entry key="eclipselink.jdbc.read-connections.shared" value="false" />
				<entry key="eclipselink.jdbc.batch-writing" value="JDBC" />
				<entry key="eclipselink.logging.level" value="SEVERE" />
				<entry key="eclipselink.weaving" value="false" />
				<entry key="javax.persistence.nonJtaDataSource">
					<ref bean="dataSource" />
				</entry>
				<entry key="javax.persistence.jtaDataSource">
					<ref bean="dataSource" />
				</entry>
			</map>
		</property>
	</bean>

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
	<bean class="com.way.chat.server.impl.HhxuServerImpl" init-method="start">
		<property name="entityManagerWrapperFactory" ref="eclipseLinkEntityManagerWrapperFactory" />
	</bean>

</beans>
